#verificationDeletion{
    width: fit-content;
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
     border-radius: 15px;
     padding: 10vh;

}
.delB{
    margin-bottom: 0;
    margin: 10px;
}
#bilangTite{
    text-align: center;
}